.info-card{
    width: 400px;
    height: 300px;
    overflow: hidden;
    position: relative;
}

.info-card img{
    width: 450px;
    height: 300px;
    overflow: hidden;
}

.info-card-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--card_background);
    color: var(--card_color);
    opacity: 0;
    transition: opacity 0.3s ease;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 1rem;
}

.info-card-overlay a{
    cursor: pointer;
    text-decoration: none;
    color:  var(--card_color);
}

.info-card:hover .info-card-overlay{
    opacity: 1;
}